/Assignment.class
/Bug.class
/DatabaseController.class
/Developer.class
/DeveloperPanel.class
/Employee.class
/LoginController.class
/Manager.class
/ManagerPanel.class
/OrdinaryPanel.class
/Product.class
/SystemController.class
/UiController.class
/bin/
